{% extends "base.html" %}
{% load static %}
<!--https://www.anwita-arun.in/ -->
{% block body %}
<div class= "row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="{% static "web_app_1/media/index/topleft.png" %}" class="col mb-5 img-fluid mt-5 rounded" alt="picture of nature"></img>
    <p class="col display-1 text-center" style="color:#ff33cc">Kids </p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="{% static "web_app_1/media/index/topright.jpg" %}" class="col mb-5 img-fluid mt-5 rounded" alt="family picture"></img>
    <p class="col display-1 text-center" style="color:#ff33cc"> Family </p>
  </div>
  </div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <img src="{% static "web_app_1/media/index/bottomleft.jpg" %}"  class= "mb-5 img-fluid col mt-5 rounded" alt="potrait"></img>
    <p class="col display-1 text-center" style="color:#ff33cc"> Celebration </p>
  </div>
  <div class="col lg-6 col-md-6 col-sm-12">
    <img src="{% static "web_app_1/media/index/bottomright.jpeg" %}"  class= "mb-5 img-fluid col mt-5 rounded" alt="celebration"></img>
    <p class="col display-1 text-center" style="color:#ff33cc"> Potrait  </p>
  </div>
  </div>
</div>
<div class="space">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="end">
  <h3 class="mb-1 display-1 text-center border-bottom border-dark">The Photographer</h3>
  <img src="{% static "web_app_1/media/photographer.png" %}" class= "mb-3 mx-auto d-block img-fluid mt-5 rounded" alt="Picture of Female Photographer"></img>
  <div class="space">
    <br>
    <br>
    <br>
    <br>
  </div>
  <h2 class= "text-center" style="font-family:Courier New, monospace">dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Donec adipiscing tristique risus nec. Diam maecenas sed enim ut. A diam maecenas sed enim ut sem.
    Mi eget mauris pharetra et ultrices neque. Nulla aliquet porttitor lacus luctus.</h2>
</div>
{% endblock %}
